[Unit]
Description=Run a newscraping service

[Service]
Type=simple
ExecStart=/home/pi/webFundies/rpi_newsscraper/scrape.sh

[Install]
WantedBy=default.target
