@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300;400;500;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    width: 80%;
    margin: auto;
}

h1 {
    font-family: 'Roboto Slab', serif;
}